.breadcrumb-bc {
  background-color: #e9edf2;
}
.breadcrumb-bc .breadcrumb {
  background-color: transparent;
}
.breadcrumb-bc .breadcrumb li a {
  color: #999;
}
.breadcrumb-bc .breadcrumb li + li:before {
  padding: 0 5px;
  content: ">\00a0";
}
.breadcrumb-bc .breadcrumb li:nth-child(1) + li:before {
  padding: 0 5px;
  content: ":\00a0";
}
.seMenu-bc .container-fluid {
  padding-right: 0;
  padding-left: 0;
  border-bottom: 1px solid #ddd;
  box-sizing: border-box;
}
.seMenu-bc .container-fluid .nav-tabs {
  display: inline-block;
  border: none;
}
.seMenu-bc .container-fluid .nav-tabs li {
  display: inline;
  padding: 0 20px;
  margin-bottom: -6px;
}
.seMenu-bc .container-fluid .nav-tabs li a {
  display: inline-block;
  font-size: 18px;
  line-height: 30px;
  padding-bottom: 15px;
  border-bottom: 2px solid transparent;
  color: #333;
  border: none;
}
.seMenu-bc .container-fluid .nav-tabs .active a,
.seMenu-bc .container-fluid .nav-tabs .active a:hover,
.seMenu-bc .container-fluid .nav-tabs .active a:focus {
  color: #008ede;
  border-bottom: 2px solid #008ede;
}
.seMenu-bc .tab-content .tab-pane h3 {
  font-weight: 400;
  margin-top: 48px;
  margin-bottom: 48px;
  text-align: center;
}
.seMenu-bc .tab-content .tab-pane .flow-path h3 {
  margin-top: 48px;
  margin-bottom: 48px;
}
.seMenu-bc .tab-content .tab-pane .flow-path h3,
.seMenu-bc .tab-content .tab-pane .flow-path p {
  text-align: center;
}
.seMenu-bc .tab-content .tab-pane .flow-path h3 img,
.seMenu-bc .tab-content .tab-pane .flow-path p img {
  width: auto;
  margin-bottom: 72px;
}
.seMenu-bc .tab-content .tab-pane .product {
  background-color: #f2f8fd;
}
.seMenu-bc .tab-content .tab-pane .product h3 {
  margin-bottom: 10px !important;
}
.seMenu-bc .tab-content .tab-pane .product .color-lump {
  margin-bottom: 72px;
}
.seMenu-bc .tab-content .tab-pane .product .color-lump .lumps {
  margin-top: 20px;
}
.seMenu-bc .tab-content .tab-pane .product .color-lump .lumps .lump-img {
  float: left;
}
.seMenu-bc .tab-content .tab-pane .product .color-lump .lumps .lump-img img {
  width: 100%;
}
.seMenu-bc .tab-content .tab-pane .product .color-lump .lumps .lump-link {
  background-color: #fff;
  float: left;
}
.seMenu-bc .tab-content .tab-pane .product .color-lump .lumps .lump-link span a span {
  display: block !important;
  text-align: left;
  padding: 18px 0;
  color: #333;
}
.seMenu-bc .tab-content .tab-pane .product .color-lump .lumps .lump-link span :hover span {
  color: #00a8ec;
}
.seMenu-bc .tab-content .tab-pane .product .color-lump .lumps .lump-link .col-lg-12 a span {
  color: #b6b6b6;
}
.seMenu-bc .tab-content .tab-pane .product .color-lump .lumps:after {
  clear: both;
  content: ".";
  display: block;
  width: 0;
  height: 0;
  overflow: hidden;
}
.seMenu-bc .tab-content .tab-pane .product .color-lump .lumps {
  zoom: 1;
}
.seMenu-bc .tab-content .tab-pane .fw-safeguard p a {
  display: inline-block;
  width: 20%;
  margin: 0 -2px;
  position: relative;
}
.seMenu-bc .tab-content .tab-pane .fw-safeguard p a span {
  padding: 0 5%;
}
.seMenu-bc .tab-content .tab-pane .fw-safeguard p a span img {
  width: 100%;
}
.seMenu-bc .tab-content .tab-pane .fw-safeguard p a span:nth-child(1) {
  display: block;
}
.seMenu-bc .tab-content .tab-pane .fw-safeguard p a span:nth-child(2) {
  font-size: 14px;
  display: block;
  position: absolute;
  left: 5%;
  bottom: 0;
  padding: 3% 0 3% 6%;
  background-color: rgba(54, 54, 54, 0.664);
  width: 90%;
  color: #fff;
}
.seMenu-bc .tab-content .tab-pane .fw-advantage {
  background-color: #1c3052;
}
.seMenu-bc .tab-content .tab-pane .fw-advantage h3 {
  color: #fff;
}
.seMenu-bc .tab-content .tab-pane .fw-advantage .ad-imgs {
  padding-bottom: 120px;
}
.seMenu-bc .tab-content .tab-pane .fw-advantage .ad-imgs p {
  background-color: #fff;
  display: inline-block;
  width: 150px;
  height: 150px;
  border-radius: 100px;
  position: relative;
  margin: 0 40px;
}
.seMenu-bc .tab-content .tab-pane .fw-advantage .ad-imgs p img {
  position: absolute;
  width: 36%;
  top: 46px;
  left: 50px;
  z-index: 1;
}
.seMenu-bc .tab-content .tab-pane .fw-advantage .ad-imgs p span:nth-child(2) {
  width: 100%;
  display: inline-block;
  bottom: 0;
  color: #fff;
  position: absolute;
  top: 170px;
  left: 0;
}
.seMenu-bc .tab-content .tab-pane .fw-advantage .ad-imgs :nth-child(3) {
  background-color: #008ede;
}
.seMenu-bc .tab-content .tab-pane .honour .honour-imgs {
  margin-bottom: 72px;
}
.seMenu-bc .tab-content .tab-pane .honour .honour-imgs img {
  width: 100%;
  overflow: hidden;
}
.seMenu-bc .tab-content .tab-pane .case {
  background-color: #f2f4f7;
}
.seMenu-bc .tab-content .tab-pane .case .container .swiper-container {
  width: 100%;
  height: 100%;
  margin-bottom: 72px;
}
.seMenu-bc .tab-content .tab-pane .case .container .swiper-container .swiper-slide {
  text-align: left;
  font-size: 18px;
  background: #fff;
  /* Center slide text vertically */
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
  position: relative;
}
.seMenu-bc .tab-content .tab-pane .case .container .swiper-container .swiper-slide .al-imgs {
  display: block;
}
.seMenu-bc .tab-content .tab-pane .case .container .swiper-container .swiper-slide .al-imgs img {
  width: 100%;
}
.seMenu-bc .tab-content .tab-pane .case .container .swiper-container .swiper-slide .al-messages {
  display: inline-block !important;
  text-align: left;
  margin-bottom: 40px;
}
.seMenu-bc .tab-content .tab-pane .case .container .swiper-container .swiper-slide .al-messages p:nth-child(1) {
  font-size: 16px;
  padding: 20px 0 0 18px;
}
.seMenu-bc .tab-content .tab-pane .case .container .swiper-container .swiper-slide .al-messages p:nth-child(2),
.seMenu-bc .tab-content .tab-pane .case .container .swiper-container .swiper-slide .al-messages p:nth-child(3) {
  color: #999;
  font-size: 14px;
  padding: 0 0 0 18px;
  margin-bottom: 4px;
}
.seMenu-bc .tab-content .tab-pane .cp-information #cpzxTab {
  display: inline-block;
  border: none;
}
.seMenu-bc .tab-content .tab-pane .cp-information #cpzxTab li {
  display: inline;
  margin-bottom: -6px;
  margin: 0 -1.4px;
}
.seMenu-bc .tab-content .tab-pane .cp-information #cpzxTab li a {
  display: inline-block;
  font-size: 18px;
  line-height: 30px;
  width: 160px;
  border-bottom: 2px solid transparent;
  color: #333;
  border: 1px solid #b7b7b7;
  border-radius: 0;
  box-sizing: border-box;
}
.seMenu-bc .tab-content .tab-pane .cp-information #cpzxTab .active a,
.seMenu-bc .tab-content .tab-pane .cp-information #cpzxTab .active a:hover,
.seMenu-bc .tab-content .tab-pane .cp-information #cpzxTab .active a:focus {
  color: #fff;
  border-bottom: 1px solid #008ede;
  background-color: #008ede;
}
.seMenu-bc .tab-content .tab-pane .cp-information #cpzxTabContent .cpzxTabContent-list li {
  border-bottom: 1px dotted #b7b7b7;
  padding: 12px 0;
}
.seMenu-bc .tab-content .tab-pane .cp-information #cpzxTabContent .cpzxTabContent-list li a span:nth-child(2) {
  text-align: right;
  display: inline-block;
  float: right;
}
.seMenu-bc .tab-content .tab-pane .cp-information #cpzxTabContent .cpzxTabContent-list li a span {
  font-size: 14px;
  color: #555;
}
.seMenu-bc .tab-content .tab-pane .cp-information #cpzxTabContent .cpzxTabContent-list li a:after {
  clear: both;
  content: ".";
  display: block;
  width: 0;
  height: 0;
  overflow: hidden;
}
.seMenu-bc .tab-content .tab-pane .cp-information #cpzxTabContent .cpzxTabContent-list li a {
  zoom: 1;
}
.seMenu-bc .tab-content .tab-pane .productDoc .search {
  background-color: #f5f8fd;
  margin-top: 48px;
  width: 100%;
  padding: 30px 0;
}
.seMenu-bc .tab-content .tab-pane .productDoc .search input:nth-child(1) {
  width: 90%;
  text-align: left !important;
  float: left;
  line-height: 40px;
}
.seMenu-bc .tab-content .tab-pane .productDoc .search span {
  position: relative;
  display: inline;
}
.seMenu-bc .tab-content .tab-pane .productDoc .search span svg {
  color: #008ede;
  background-color: #008ede;
  position: absolute;
  top: 0px;
  left: 20px;
}
.seMenu-bc .tab-content .tab-pane .productDoc .search span input {
  display: inline;
  width: 10%;
  line-height: 40px;
  border-radius: 0;
  background-color: #0192d3;
  color: #fff;
  border: 2px solid #0192d3;
}
.seMenu-bc .tab-content .tab-pane .productDoc .docTab-bc {
  background-color: #ededed;
}
.seMenu-bc .tab-content .tab-pane .productDoc .docTab-bc #docTab {
  display: inline-block;
  border: none;
}
.seMenu-bc .tab-content .tab-pane .productDoc .docTab-bc #docTab li {
  display: inline;
  margin-bottom: -6px;
}
.seMenu-bc .tab-content .tab-pane .productDoc .docTab-bc #docTab li a {
  display: inline-block;
  font-size: 18px;
  line-height: 30px;
  border-bottom: 2px solid transparent;
  color: #333;
  border-radius: 0;
  box-sizing: border-box;
}
.seMenu-bc .tab-content .tab-pane .productDoc .docTab-bc #docTab .active a,
.seMenu-bc .tab-content .tab-pane .productDoc .docTab-bc #docTab .active a:hover,
.seMenu-bc .tab-content .tab-pane .productDoc .docTab-bc #docTab .active a:focus {
  color: #fff;
  border-bottom: 1px solid #008ede;
  background-color: #008ede;
}
.seMenu-bc .tab-content .tab-pane .productDoc #docTabContent .docTabContent-list li {
  border-bottom: 1px dotted #b7b7b7;
  padding: 12px 0;
}
.seMenu-bc .tab-content .tab-pane .productDoc #docTabContent .docTabContent-list li a span:nth-child(2) {
  text-align: right;
  display: inline-block;
  float: right;
}
.seMenu-bc .tab-content .tab-pane .productDoc #docTabContent .docTabContent-list li a span {
  font-size: 14px;
  color: #555;
}
.seMenu-bc .tab-content .tab-pane .productDoc #docTabContent .docTabContent-list li a:after {
  clear: both;
  content: ".";
  display: block;
  width: 0;
  height: 0;
  overflow: hidden;
}
.seMenu-bc .tab-content .tab-pane .productDoc #docTabContent .docTabContent-list li a {
  zoom: 1;
}
.seMenu-bc .tab-content .tab-pane .productDoc nav .pagination li a {
  margin: 0 3px;
  color: #333;
  border-radius: 0px !important;
}
.seMenu-bc .tab-content .tab-pane .productDoc nav .pagination .active a {
  color: #fff;
}
.seMenu-bc .tab-content .tab-pane .peiSong table .biaoTop {
  background-color: #898989;
  color: #fff;
}
.seMenu-bc .tab-content .tab-pane .peiSong table .biaoTop td {
  text-align: center;
}
.seMenu-bc .tab-content .tab-pane .peiSong table tbody tr td {
  border: 1.8px solid #fff;
}
.seMenu-bc .tab-content .tab-pane .peiSong table tbody .beiJing {
  background-color: #f5f5f5;
}
.seMenu-bc .tab-content .tab-pane .peiSong table tbody .color-one {
  background-color: #f5f8fd;
}
.seMenu-bc .tab-content .tab-pane .peiSong table tbody .color-two {
  background-color: #f5f5f5;
}
.seMenu-bc .tab-content .tab-pane .gm-xuzhi div {
  margin-bottom: 72px;
}
.seMenu-bc .tab-content .tab-pane .gm-xuzhi div p {
  font-size: 16px;
}
.seMenu-bc .tab-content .tab-pane .gm-xuzhi div tr td {
  text-align: left;
}
.seMenu-bc .tab-content .tab-pane .gm-xuzhi div table {
  width: 50%;
}
.seMenu-bc .tab-content .tab-pane .gm-xuzhi div table tbody .color-one td {
  background-color: #f5f8fd;
  color: #0192d3;
}
.seMenu-bc .tab-content .tab-pane .gm-xuzhi div table tbody tr td {
  text-align: left;
}
.seMenu-bc .tab-content .tab-pane .gm-xuzhi div table tbody tr td:nth-child(1) {
  width: 260px;
}
.seMenu-bc .tab-content .tab-pane .gm-xuzhi div .table-two {
  width: 66% !important;
}
.seMenu-bc .tab-content .tab-pane .finance-xuzhi h4,
.seMenu-bc .tab-content .tab-pane .finance-xuzhi p {
  font-weight: 400;
}
.seMenu-bc .tab-content .tab-pane .finance-xuzhi table {
  width: 60%;
}
.seMenu-bc .tab-content .tab-pane .finance-xuzhi table tbody tr td {
  font-weight: 300;
}
.seMenu-bc .tab-content .tab-pane .finance-xuzhi table tbody tr td:nth-child(1) {
  background-color: #f5f8fd;
}
.seMenu-bc .tab-content .tab-pane .tb-shiyi h5 {
  color: #999;
}
.seMenu-bc .tab-content .tab-pane .tb-shiyi .tbFanWei {
  margin: 16px 0 24px 0;
  background-color: #f5f8fd;
  text-align: left !important;
}
.seMenu-bc .tab-content .tab-pane .tb-shiyi .tbFanWei span:nth-child(1) {
  width: 160px;
  display: inline-block;
  padding: 6px 0;
  background-color: #0192d3;
  color: #fff;
  font-size: 16px;
  text-align: center;
}
.seMenu-bc .tab-content .tab-pane .tb-shiyi .tbFanWei :nth-child(2) {
  display: inline-block;
  text-align: right;
  float: right;
  padding: 6px 16px;
  font-weight: 400;
}
.seMenu-bc .tab-content .tab-pane .tb-shiyi .tbFanWei :nth-child(2) a {
  color: #333;
}
.seMenu-bc .tab-content .tab-pane .tb-shiyi .tbFanWei:after {
  clear: both;
  content: ".";
  display: block;
  width: 0;
  height: 0;
  overflow: hidden;
}
.seMenu-bc .tab-content .tab-pane .tb-shiyi .tbFanWei {
  zoom: 1;
}
.seMenu-bc .tab-content .tab-pane .tb-shiyi .color-lump .lumps {
  margin-bottom: 18px;
}
.seMenu-bc .tab-content .tab-pane .tb-shiyi .color-lump .lumps .lump-img {
  float: left;
}
.seMenu-bc .tab-content .tab-pane .tb-shiyi .color-lump .lumps .lump-link {
  background-color: #fff;
  float: left;
  border: 1px solid #b7b7b7;
  height: 240px;
}
.seMenu-bc .tab-content .tab-pane .tb-shiyi .color-lump .lumps .lump-link span a span {
  display: block !important;
  text-align: left;
  padding: 18px 0;
  color: #333;
}
.seMenu-bc .tab-content .tab-pane .tb-shiyi .lump-link:hover {
  box-shadow: #b0b0b0 1px 1px 10px 1px;
}
.seMenu-bc .tab-content .tab-pane .tb-shiyi .ziZhi-text {
  font-weight: 400;
}
.seMenu-bc .tab-content .tab-pane .tb-shiyi .ztb-text {
  margin-bottom: 72px;
}
.seMenu-bc .tab-content .tab-pane .tb-shiyi .ztb-text p {
  font-weight: 400;
}
.seMenu-bc .tab-content .tab-pane .tb-shiyi .ztb-text p span {
  color: #fca82b;
  font-size: 18px;
  font-weight: 600;
}
